- provide(:title, 'About')
%h1 About LifeSense 
%p
  LifeSense will be a way for people to track every desired aspect of their life, and view that data in a convenient multi-platform software service. The goal is to create a seamless way to connect hardware sensors with remote databases. The hardware sensors will collect information related to time, weight, temperature, or motion and then send that information over the network to the cloud. The software will analyze, display statistics, and create graphs of the data. Each hardware sensor can be linked to triggers set in software to send messages to mobile devices or other platforms.

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "//www.youtube.com/embed/yH3R4MM3Bgk", :width => "640"}

%h1 About Us
%p
  Dan and Zach are majoring in Computer Engineering at University of Utah and have a great ideas for the future of everything.
