<div class="page-header">
  <h1>Web Meeting Log </h1>
</div>

<div class="row">
<div class="span8">
  <h3 id='april_11_2014'>April 11, 2014</h3>

  <ul>
    <li>Figured out how to host an AP point from laptop that works with the cc3000</li>

    <li>built scale circuit</li>

    <li>Made initial website to receive cc3000 messages</li>

    <li>successfully connected to AP at school and received messages with cc3000</li>

    <li>began study of Ruby on Rails</li>
  </ul>

  <p>TODO</p>

  <ol>
    <li>Send a POST message to website with cc3000 and stelaris launchpad -Dan</li>

    <li>Solder scale, integrate with launchpad or arduino, and test -Zach</li>

    <li>Learn more about Ruby on Rails -Dan, Zach</li>
  </ol>

  <h3 id='april_3_2014'>April 3, 2014</h3>

  <ul>
    <li>Connected cc3000 to stelaris and successfully received a GET message</li>

    <li>Received parts ordered for scale</li>

    <li>Decided to use Ruby on Rails for web application and couchbase-lite for database</li>

    <li>Discovered cc3000 does not support enterpise or ad-hoc wifi access points</li>
  </ul>

  <p>TODO</p>

  <ol>
    <li>Figure out how to host a access point so cc3000 can connect at school -Dan</li>

    <li>Take apart scale and being building circuit -Zach</li>

    <li>Start making a test website to receive cc3000 messages -Zach, Dan</li>
  </ol>

  <h3 id='march_30_2014'>March 30, 2014</h3>

  <ul>
    <li>wrote proposal</li>

    <li>Found and downloaded opensource drivers for cc3000</li>
  </ul>

  <ol>
    <li>Connect cc3000 to stelaris launchpad to see if open source drivers work -Dan</li>

    <li>Take apart scale and being building circuit -Zach</li>

    <li>Explore types of software libraries and frameworks to use -Dan, Zach</li>
  </ol>

  <h3 id='march_19_2014'>March 19, 2014</h3>

  <ul>
    <li>
    <p>order more parts that we needed</p>

    <ul>
      <li>INA122pa (Instrumentation amplifier)</li>

      <li>more cc3000 chips</li>
    </ul>
    </li>

    <li>
    <p>discussed other back up plans we could implement</p>

    <ul>
      <li>motion</li>

      <li>temperature</li>
    </ul>
    </li>

    <li>
    <p>Tried to get cc3000 working by reading tons of documentation</p>
    </li>
  </ul>

  <p>TODO</p>

  <ol>
    <li>Get the cc3000 working -Dan</li>

    <li>Wait for parts, then built circuit -Zach</li>
  </ol>

  <h3 id='march_13_2014'>March 13, 2014</h3>

  <ul>
    <li>soldered a breakout board for cc3000 * also made a plastic stencil for future boards</li>
  </ul>

  <p>TODO:</p>

  <ol>
    <li>Get the cc3000 working -Dan</li>

    <li>Figure out a way to hack the scale -Zach</li>
  </ol>

  <h3 id='march_5_2014'>March 5, 2014</h3>

  <ul>
    <li>
    <p>Discussed how to seperate project into different tasks</p>

    <ul>
      <li>Wifi</li>

      <li>Sensors</li>

      <li>MCU</li>

      <li>PCB</li>

      <li>LED and button</li>
    </ul>
    </li>
  </ul>

  <p>TODO:</p>

  <ol>
    <li>Get a small digital scale -Zach</li>

    <li>Solder breakout board -Dan, Zach</li>
  </ol>
</div>
</div>
