- provide(:title, 'Web Meeting Log')
.page-header
  %h1 Web Meeting Log
.row
  .span8
    %h3#april_11_2014 April 11, 2014
    %ul
      %li Figured out how to host an AP point from laptop that works with the cc3000
      %li built scale circuit
      %li Made initial website to receive cc3000 messages
      %li successfully connected to AP at school and received messages with cc3000
      %li began study of Ruby on Rails
    %p TODO
    %ol
      %li Send a POST message to website with cc3000 and stelaris launchpad -Dan
      %li Solder scale, integrate with launchpad or arduino, and test -Zach
      %li Learn more about Ruby on Rails -Dan, Zach
    %h3#april_3_2014 April 3, 2014
    %ul
      %li Connected cc3000 to stelaris and successfully received a GET message
      %li Received parts ordered for scale
      %li Decided to use Ruby on Rails for web application and couchbase-lite for database
      %li Discovered cc3000 does not support enterpise or ad-hoc wifi access points
    %p TODO
    %ol
      %li Figure out how to host a access point so cc3000 can connect at school -Dan
      %li Take apart scale and being building circuit -Zach
      %li Start making a test website to receive cc3000 messages -Zach, Dan
    %h3#march_30_2014 March 30, 2014
    %ul
      %li wrote proposal
      %li Found and downloaded opensource drivers for cc3000
    %ol
      %li Connect cc3000 to stelaris launchpad to see if open source drivers work -Dan
      %li Take apart scale and being building circuit -Zach
      %li Explore types of software libraries and frameworks to use -Dan, Zach
    %h3#march_19_2014 March 19, 2014
    %ul
      %li
        %p order more parts that we needed
        %ul
          %li INA122pa (Instrumentation amplifier)
          %li more cc3000 chips
      %li
        %p discussed other back up plans we could implement
        %ul
          %li motion
          %li temperature
      %li
        %p Tried to get cc3000 working by reading tons of documentation
    %p TODO
    %ol
      %li Get the cc3000 working -Dan
      %li Wait for parts, then built circuit -Zach
    %h3#march_13_2014 March 13, 2014
    %ul
      %li soldered a breakout board for cc3000 * also made a plastic stencil for future boards
    %p TODO:
    %ol
      %li Get the cc3000 working -Dan
      %li Figure out a way to hack the scale -Zach
    %h3#march_5_2014 March 5, 2014
    %ul
      %li
        %p Discussed how to seperate project into different tasks
        %ul
          %li Wifi
          %li Sensors
          %li MCU
          %li PCB
          %li LED and button
    %p TODO:
    %ol
      %li Get a small digital scale -Zach
      %li Solder breakout board -Dan, Zach
