- provide(:title, 'Milestones')
%h1 Milestones for the Project
%h3 Completed Milestones
%ul
  %li Calibrate the scale digital output to correspond with weight - Zach
  %li Connect wireless chip and scale - Together
  %li Connect temperature and Motion Sensor - Dan
  %li Display Sensor inforamation to node.js prototype website - Together
  %li Set up user login for real website - Dan
  %li Consolodate electonics into custom PCB - Dan
%h3 Milestones to Finish
%ul
  %li Make website look professional - Together
  %li Add more sensors to connect use - Zach
  %li Link sensors to account - Together
  %li Get push notifs sending to users on android (if time permits) - Together
  %li Get email alerts sending to users - Dan
  %li Final Testing - Together
