- provide(:title, 'Milestones')

%h1 Schedule


%h2 September - Alpha
%p Get a prototype in each part of the project
%ul
  %li Ember App
  %li Rails
  %li PCB

%h2 October - Beta
%p API (communication between PCB and Web) and collection of data
%ul
  %li Temperature
  %li Bar Code Scan

%h2 November - Release
%p UI (User friendly and demo)
%ul
  %li Smooth Animations
  %li Visuals of data

%h2 December - Polish
%p Full functionality testing
%ul
  %li Hardware casing
  %li Find bugs


