- provide(:title, 'Milestones')

%h1 Schedule

%iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showCalendars=0&showTz=0&height=600&wkst=1&bgcolor=%23FFFFFF&src=oe5a28k3a2375m0ddu8ks4s2os%40group.calendar.google.com&color=%2328754E&ctz=America%2FDenver", :style => " border-width:0 ", :width => "800"}


%h2 September - Alpha
%p Get a prototype in each part of the project
%ul
  %li Ember App
  %li Rails
  %li PCB

%h2 October - Beta
%p API (communication between PCB and Web) and collection of data
%ul
  %li Temperature
  %li Bar Code Scan

%h2 November - Release
%p UI (User friendly and demo)
%ul
  %li Smooth Animations
  %li Visuals of data

%h2 December - Polish
%p Full functionality testing
%ul
  %li Hardware casing
  %li Find bugs


