- provide(:title, 'Status')

%h1 Project Status
%p= link_to "About", about_path
%p= link_to "Meeting Log", meeting_path
%p= link_to "Milestones", milestones_path
%p= link_to "Schedule", schedule_path
