= form_for([@project.user, @project]) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_field :name, placeholder: "Create new project..."
  = f.submit "Create", class: "btn btn-large btn-primary"
