%li
  %span.name= link_to project.name, users_project_path(project.user.id, project.id)
  %span.timestamp
    Created #{time_ago_in_words(project.created_at)} ago.
  - if current_user?(project.user)
    = link_to "delete", project, method: :delete, |
      data: { confirm: "You sure?" },               |
      title: project.name                      |
